/EducacionIT/JavaStandardProgramming8.2/Ejercicios/Soluciones/educacionIT-Integrador-Fase-03/build/
/EducacionIT/JavaStandardProgramming8.2/Ejercicios/Clase5_Integrador/build/
/EducacionIT/JavaStandardProgramming8.2/Ejercicios/Soluciones/educacionIT-FXIntegrador-Fase-04/build/
/EducacionIT/JavaStandardProgramming8.2/Ejercicios/Soluciones/educacionIT-FXIntegrador-Fase-04/dist/
/EducacionIT/JavaStandardProgramming8.2/Ejercicios/Soluciones/educacionIT-FXIntegrador-Fase-04/nbproject/private/
/EducacionIT/JavaStandardProgramming8.2/Ejercicios/Soluciones/educacionIT-Lab-03-ConceptosGenerales/build/
/EducacionIT/JavaStandardProgramming8.2/Ejercicios/Soluciones/educacionIT-Lab-03-ConceptosGenerales/nbproject/private/
/EducacionIT/JavaStandardProgramming8.2/Clase13_Completa/nbproject/private/
/EducacionIT/JavaStandardProgramming8.2/Clase13_Completa/build/